<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <title>
            Group 007
        </title>
    </head>

    <body>
        <article>
            <h1>Main Page</h1>
            <p>
                Select desired transaction below:
            </p>
            <dl>
                <dt><a href="./locations.hbs">Locations</a></dt>
                <dd>Manage currently supported destination <strong>Locations</strong></dd>
                <dt><a href="./airports.hbs">Airports</a></dt>
                <dd>Manage the <strong>Airports</strong> currently supporting our Locations</dd>
                <dt><a href="./experience_packages.hbs">Experience Packages</a></dt>
                <dd>Manage the <strong>Experience Packages</strong> currently available for our Trips</dd>
                <dt><a href="./travelers.hbs">Travelers</a></dt>
                <dd>Manage all <strong>Travelers</strong> that have booked with us</dd>
                <dt><a href="./trips.hbs">Trips</a></dt>
                <dd>Manage the <strong>Trips</strong> that have been booked with us</dd>
                <dt><a href="./trips_travelers.hbs">Trips and their associated Travelers</a></dt>
                <dd>Manage the <strong>Travelers</strong> that are booked on each <strong>Trip</strong> with us</dd>
            </dl>
        </article>
        <br>
        <h3>Built by:</h3>
        <p><strong>Amy Henderson and Andrew Nesseth</strong></p>
    </body>
    
</html>